$section_space: 80px;
$start_size: 0;
$start_size_2: 10;
$half: 50%;
$full: 100%;
$main_font_size: 15px;

// colors
$main_color: #12a7d8;
$wh: #fff;
$b: #000;
$gray: #989898;
$main_gray:#e5e5e5;

$ltr: 'html[lang="en"]';
$rtl: 'html[lang="ar"]';
